.App {

}

.header{
  background-color: blue;
  /* background-image: url("https://foodloversonline.files.wordpress.com/2014/08/north-indian-dishes.jpg"); */
 margin: 0;
 padding: 2px;
 
 text-align: center;
}

.card {
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  max-width: auto;
  margin: 10px;
  text-align: center;
  font-family: arial;
  padding: 5px;
}

.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.imgsize{
  width: 200px;
}

.cards{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 0.7rem;
  
}

@media (max-width: 800px){
  .cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4;
  }

  .imgsize{
    width: 150px;
  }
}

@media (max-width: 400px){
  .cards{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:0.3;
  }
}